COMPOSEROOT=.
IMAGENAME=cam_archiver
VERSION=v1.1.0
TZ=UTC
#
PUID=1000
PGID=1000
RENDER_GROUP=303
#
SHAREROOT=/fs/data1/FTPRoot/camera
#
MAX_SIZE=128GB
MAX_AGE=14
TRASH_AGE=7
#
CLEANUP_MAX_AGE=7
ARCHIVE_MAX_AGE=5
